body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    background: white;

}


a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}

.header {
    position: relative;
}

.main-header {
    position: relative;
    margin-top: 0px;
    height: 580px;
    width: 1200px;
    background: url(../img/background_photo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main-header-welcome--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}



.main-header__navigation {
    position: relative;
    justify-content: center;
}

.main-header__list {
    padding: 0;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    height: 56px;
    width: 1200px;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
}

.main-header__item a:hover,
.main-header__item a:focus {
    background-color: #e1edf5;
    transition: all 0.5s;
}



.main-header__list a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    height: 56px;

}

.main-header__item--logo .main-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 72px;
    z-index: 1;
}

.main-header__item {
    width: 25%;


}

.main__welcome {
    margin: 0;
    display: flex;
    height: 102px;
    align-items: flex-end;
}

.main_header_explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 216px;
    font-family: inherit;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
}

.explanation__sedona {
    font-family: inherit;
    margin: 0;
    width: 500px;
    height: 50px;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.explanation__resons {
    margin-top: 38px;
    width: 550px;
    height: 13px;
    color: #333333;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.features-list__realtown {
    width: 1200px;
    height: 256px;
    display: flex;
}

.features-list__realtown--about {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
    flex-direction: column;
    text-align: center;
}

.features-list__realtown h3 {
    width: 30%;
    margin-left: 35%;
    margin-bottom: 20px;
    font-size: 21px;
}

.features-list__realtown p {
    width: 70%;
    margin-left: 15%;
    margin-top: 35px;
}

.features-list__realtown--picture {
    height: 256px;
    width: 800px;
    background: url(../img/Layer_10.jpg);
}

.features-item__houses {
    width: 1200px;
    height: 256px;
    display: flex;
}

.features-list__houses--about {
    display: flex;
    justify-content: space-around;
    color: black;
    width: 400px;
    height: 256px;
    background-color: #ffffff;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.features-item__houses--img {
    margin-top: 26px;

}

.features-list__houses--about h3 {
    width: 30%;
    margin-left: 35%;
    margin-bottom: 20px;
    font-size: 21px;
}

.features-list__houses--about p {
    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
    margin-bottom: 40px;
}

.features-list__realtown2 {
    width: 1200px;
    height: 256px;
    display: flex;
    flex-direction: row-reverse;
}

.features-list__realtown--about2 {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 400px;
    height: 256px;
    list-style: none;
    background-color: #81b3d2;
    flex-direction: column;
    text-align: center;
}

.features-list__realtown2 h3 {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 20px;
    font-size: 21px;
}

.features-list__realtown2 p {
    width: 70%;
    margin-left: 15%;
    margin-top: 35px;
}

.features-list__realtown2--picture {
    height: 256px;
    width: 800px;
    background: url(../img/Layer_5.jpg);
}

.features-list__about345 {
    width: 1200px;
    height: 256px;
    display: flex;
}

.features-list__about345--3,
.features-list__about345--4,
.features-list__about345--5 {
    display: flex;
    justify-content: space-around;
    color: #000000;
    width: 400px;
    height: 256px;
    list-style: none;
    background-color: #eeeeee;
    flex-direction: column;
    text-align: center;
}

.features-list__about345--3 p,
.features-list__about345--4 p,
.features-list__about345--5 p {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

.features-list__about345--3 h3,
.features-list__about345--4 h3,
.features-list__about345--5 h3 {
    width: 40%;
    margin-top: 50px;
    margin-left: 30%;
    margin-bottom: 20px;
    font-size: 21px;
}

.intrested {
    padding-top: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 256px;
    font-family: inherit;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
}

.intrested__order {
    width: 636px;
    height: 146px;
}

.interested__order--h3 {

    margin: 0;
    font-family: inherit;
    margin-bottom: 25px;
    color: #000000;
    font-size: 31px;
    font-weight: 700;
    line-height: 26px;
}

.interested__order--p {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    color: #333333;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.intrested__order--btn {
    display: flex;
    justify-content: center;
    width: 568px;
    height: 86px;
    border: none;

}

.intrested__order--src_btn {
    color: #ffffff;
    width: 100%;
    background: #81b3d2;
    border: none;
    padding: 0;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.intrested__order--btn button:hover,
.intrested__order--btn button:focus {
    background-color: #6f9cbe;
    transition: all 0.5s;

}


.footer {
    display: flex;
    height: 120px;
    width: 1200px;
    padding: 0;
    margin: 0;
}

.footer__tag--wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    width: 400px;
    font-size: 21px;
    font-weight: 600;
    justify-content: center;
    align-items: center;

}

.footer__social--main {
    margin: 0;
    padding: 0;
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.footer__social {
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 10px
}

.visually-hidden {
    display: none;
}

.footer__social--twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__social--facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__social--YouTube {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__copyright {
    margin: 0;
    padding: 0;
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.footer__developer {
    margin-left: 10px;
    width: 115px;
    height: 41px;
    background-image: url(../img/logo_name.png)
}

.footer__social:hover,
.footer__social:focus {
    background-color: #6f9cbe;
    transition: all 0.5s;
}

.footer__social:hover path,
.footer__social:focus path {
    fill: #b8b7ba;
    transition: all 0.5s;
}

/*-------------------------------------------- начало Inner.html--------------------------------- */
/*-------------------------------------------- начало Inner.html--------------------------------- */
/*-------------------------------------------- начало Inner.html--------------------------------- */
/*-------------------------------------------- начало Inner.html--------------------------------- */
/*-------------------------------------------- начало Inner.html--------------------------------- */
/*-------------------------------------------- начало Inner.html--------------------------------- */
/*-------------------------------------------- начало Inner.html--------------------------------- */
/*-------------------------------------------- начало Inner.html--------------------------------- */
.inner-header {
    position: relative;
    margin-top: 0px;
    height: 56px;
    width: 1200px;
}

.inner-header__navigation {
    position: relative;
    justify-content: center;
}

.inner-header__list {
    padding: 0;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    height: 56px;
    width: 1200px;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
}

.inner-header__item a:hover,
.inner-header__item a:focus {
    background-color: #e1edf5;
    transition: all 0.5s;
}



.inner-header__list a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    height: 56px;

}

.inner-header__item--logo .inner-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 72px;
    z-index: 1;
}

.inner-header__item {
    width: 25%;
}

.inner__filter {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    min-height: 212px;
    background-image: url(../img_inner/Inner%20Background%20Img.png);
}

.filter__list__item {
    display: inline-flex;
    width: 200px;
    height: 45px;
    text-decoration: none;
    margin: 0px;
    padding: 0;
    list-style: none;
    color: #fff;
    align-items: center;
}

.filter__list__item--main1 {
    font-weight: 600;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 10px;
}

.filter__list__item--main2 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}

.inner__filter__wrapper {
    position: relative;
    width: 528px;
    height: 100%;
    margin-left: 55px;
}

.filter__list {
    margin: 0;
    padding: 0;
}

.filter__list__item--not_checked::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../svg-sedona/svg-sedona/checkbox-off.svg);
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-right: 5px;
}

.filter__list__item--checked::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../svg-sedona/svg-sedona/checkbox-on.svg);
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-right: 5px;
}


.inner__filter__range__wrapper {
    position: relative;
    margin-top: 24px;
    margin-right: 45px;
    width: 380px;
    height: 100%;
    color: #fff;
    font-family: inherit;
}

.filter__range__title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
}

.filter__range__price_controls {
    position: relative;
    border: 2px solid white;
    width: 350px;
    height: 40px;
    font-size: 16px;
}

.filter__range__price_controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
    padding-left: 65px;
}

.filter__range__price_controls input {
    width: 85px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.filter__range__price_controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter__range__range_controls {
    width: 354px;
    position: relative;
    margin-bottom: 32px;
    margin-top: 25px;
}

.range_controls__scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.filter__range__range_controls .range_controls__bar {
    width: 80%;
    height: 2px;
    background: #fff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparente {
    display: flex;
    margin: 0 28%;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparente:hover {
    color: #000;
    background: #fff;
}

.founded-sort {
    display: flex;
    position: relative;
    width: 1200px;
    min-height: 86px;
}

.founded-sort__list {
    width: 800px;
    height: auto;
    margin-left: 45px;
}

.sort__list__items {
    display: flex;
    align-items: center;
    justify-content: row;
    min-height: 86px;
    min-width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sort__list__items .list__item {
    margin-right: 40px;
    text-decoration: underline dotted skyblue;
    cursor: pointer;
}

.sort__list__items .list__item:hover {
    color: skyblue;
}

.sort__list__items .list__item:active {
    color: #000;
    text-decoration: none;
}

.list__item--founded {
    font-weight: 600;
    font-size: 21px;
    margin-right: 50px;
    margin-left: 30px;
}

.list__item--sort {
    font-family: inherit;
    margin-right: 40px;
}

.arrows-wrapper {
    display: flex;
    width: 400px;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;

}

.founded-sort__arrows {
    display: flex;
    width: 96px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.arrow-up {
    display: flex;
    width: 48px;
    height: 43px;
    justify-content: center;
    align-items: center;



}

.arrow-down {
    display: flex;
    width: 48px;
    height: 43px;
    justify-content: center;
    align-items: center;

}

.arrow-up:hover,
.arrow-down:hover {
    background-color: #81b3d2;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.arrow-up:hover path,
.arrow-down:hover path {
    fill: #fff;
    transition: all 0.3s;
}

hr {
    margin: 0;
    padding: 0;
    border-color: #e2e2e2;
}

.hotels-list__wrapper {
    display: flex;
    width: 1200px;
    height: 154px;
}

.hotels-list__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 72px;
    margin-right: 30px;
}

.hotels-list__content {
    display: inline-block;
    width: 258px;
    height: 90px;
    margin-top: 30px;
}

.hotels-list__content h2 {
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    display: flex;
    width: 280px;
    height: 17px;

}

.hotels-list__content p {
    width: 110px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 14px;
    padding: 0;

}

.hotels-list__info {
    display: inline-block;
    width: 110px;
    height: 27px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;

    background: #81b3d2;
    border: 2px solid #81b3d2;
    border-radius: 2px;
    cursor: pointer;
}

.hotels-list__booking {
    display: inline-block;
    width: 142px;
    height: 27px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;

    background: #766357;
    border: 2px solid #766357;
    border-radius: 2px;
    cursor: pointer;
}

.hotels-list__raiting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 120px;
    height: 154px;

}

.hotels-list__raiting--wrapper {
    margin-left: auto;
    display: flex;
    width: 154px;
    height: 154px;

}



.hotels-list__raiting--points {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}

.modal {
    position: fixed;
    color: #000000;
    z-index: 3;
    background-color: #efefef;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}

.modal-search {
    display: flex;
    /*    display: none;*/
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 568px;
    height: 395px;
    /*    padding: 50px 80px;*/
    margin-left: -285px;
    margin-top: -300px;
}


.modal-close {
    position: absolute;
    top: 0;
    right: -40px;
    width: 30px;
    height: 30px;

    font-size: 0;
    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 14px;
    left: 2px;
    width: 25px;
    height: 3px;
    background-color: #000;

}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-search__form {
    position: relative;
    display: inline-block;
    width: 568px;
    height: 285px;
}

.modal-search__arrive input {
    margin: 0;
    border: none;
    background-color: white;
    border-radius: 2px;
    padding: 13px;
    width: 328px;
    margin-bottom: 30px;
    font-family: "PT Sans";
    font-weight: 600;
    font-size: 16px;
}

.modal-search__arrive--date {
    margin: 0;
    width: 100px;
    height: 38px;
    font-family: "PT Sans";
    font-weight: 600;
    margin-right: 30px;
    margin-left: 44px;
    font-size: 16px;
}

.modal-search__leave-date {
    margin: 0;
    width: 110px;
    height: 38px;
    font-family: "PT Sans";
    font-weight: 600;
    margin-right: 30px;
    margin-left: 40px;
    font-size: 16px;
}

.modal-search__leave input {
    margin: 0;
    border: none;
    background-color: white;
    border-radius: 2px;
    padding: 13px;
    width: 328px;
    margin-bottom: 30px;
    font-family: "PT Sans";
    font-weight: 600;
    font-size: 16px;
}

.modal-search__adults {
    display: flex;
    margin: 0;
    width: 100%;
    height: 38px;
    font-family: "PT Sans";
    font-weight: 600;
    margin-right: 30px;
    margin-left: 40px;
    font-size: 16px;
}

.modal-search__adults input {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    width: 38px;
    height: 38px;
    margin-bottom: 30px;
    font-family: "PT Sans";
    font-weight: 600;
    font-size: 16px;
}


.adults__qty--plus,
.kids__qty--plus {
    display: flex;
    position: relative;
    width: 38px;
    height: 38px;
    background-color: white;
    cursor: pointer;
    border-radius: 2px;
    border-style: none;
}



.modal-search__adults__qty,
.modal-search__kids__qty {
    display: flex;
    margin-right: 56px;
    justify-content: center;
    align-items: center;
}

.kids__qty--minus,
.adults__qty--minus {
    display: flex;
    position: relative;
    width: 38px;
    height: 38px;
    background-color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 2px;
}

.kids__qty--minus::before,
.kids__qty--minus::after,
.adults__qty--plus::before,
.adults__qty--plus::after {
    content: "";

    position: absolute;
    top: 18px;
    left: 14px;
    width: 12px;
    height: 2px;
    background-color: #000000;
    cursor: pointer;
}

.kids__qty--plus::before,
.kids__qty--plus::after,
.adults__qty--minus::before,
.adults__qty--minus::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 12px;
    width: 12px;
    height: 2px;
    background-color: #000000;
    cursor: pointer;
}

.kids__qty--minus::before,
.adults__qty--minus::before {
    transform: rotate(90deg);
}

.modal-search__kids__qty {
    margin-right: 26px;
    margin-left: 56px;
}

.modal-search__search-btn {
    margin-left: 55px;
    margin-bottom: 55px;
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    text-transform: uppercase;
}

.modal-overlay {
    background-color: rgba(129, 179, 210, 0.7);
    z-index: 2;
    position: fixed;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    opacity: 0.5;
}

.hidden {
    display: none;
}
